{
    "generator": {
        "openrouter": {
            "api_key": "<OPENROUTER API KEY>",
            "base_url": "https://openrouter.ai/api/v1",
            "model": "deepseek/deepseek-chat-v3.1",
            "temperature": 0.9,
            "max_tokens": 256
        }
    },
    "bot": {
        "token": "<DISCORD BOT TOKEN>"
    },
    "channels": [
        "<DISCORD CHANNEL ID>",
        "<DISCORD CHANNEL ID>",
        "Or leave this array empty to target all channels"
    ]
}