{
    "generator": {
        "openai": {
            "api_key": "<OPENAI API KEY>",
            "model": "gpt-4o",
            "temperature": 0.9,
            "frequency_penalty": 0.7,
            "presence_penalty": 0.7,
            "top_p": 1,
            "max_tokens": 256
        }
    },
    "character": {
        "file": "characters/isaacgpt.json",
        "token": "<DISCORD BOT TOKEN>",
        "nsfw_allowed": false
    },
    "channels": [
        "<DISCORD CHANNEL ID>",
        "<DISCORD CHANNEL ID>",
        "Or leave this array empty to target all channels"
    ],
    "web_search": {
        "enabled": true,
        "bing_search_key": "<BING SEARCH API KEY>"
    }
}